// 
// COLORS -------
// 
:root{
    --body-bg-dark:#020005;
    --body-bg-light:#ffffff;
    --gray:gray;
}


//  General ---------
$white:#fff;
$gray:gray;
$primary:#1E50FF;
$yellow:#FF9500;
$dark:#131528;

