@import "../../scss/Mixin.scss";
.content {
    color: var(--color-text);
    position: relative;
    .content__home {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;

        .home__text {
            margin-top: 30px;
            line-height: 2;
            color: $gray;
            p{
                margin-bottom: 30px;
            }
        }
    }
    .content__star{
        position: absolute;
        top: 0;
        z-index: -999;
        left: 20%;
    }
    .home__title {
        font-size: 6.5rem;
        font-weight: bold;
        position: relative;

        div {
            display: flex;
            margin: 20px 0;

            img {
                width: 150px;
            }
        }

        p>img {
            width: 50px;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url(../../assets/images/Banner/title3.png);
            height: 100px;
            left: 100px;
            background-repeat: no-repeat;
            width: 150px;
            transform: rotate(-5deg);
        }
    }
    .content__image {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        margin-top: 60px;
        position: relative;
        .image__item {
            height: 420px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        &::before {
            content: "";
            width: 108%;
            left: -25px;
            top: 10%;
            left: -4%;
            height: 300px;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
            z-index: 9;
        }
        .content__image{
            overflow: hidden;
        }
        &::after {
            content: "";
            width: 100%;
            top: 10%;
            right: 0;
            height: 300px;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-top: 2px solid #fff;
            border-bottom: 2px solid transparent;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
        }
    }

    @include media(987px) {
        .content__home {
            grid-template-columns: auto;
            text-align: center;
        }

        .home__title {
            font-size: 6.5rem;

            &::after {
                left: 200px !important;
            }
        }

        .content__image {
            overflow: hidden;
            .image__item {
                height: 220px;
            }

            &::after {
                top: 20%;
            }

            &::before {
                left: -10%;
                top: -50%;
                width: 124%;
            }
        }
    }

    @include media(689px) {
        .content__home {
            grid-template-columns: auto;
            text-align: start;
        }

        .home__title {
            font-size: 4.5rem !important;
        }
    }
}
