@import '../../scss/Mixin.scss';

header {
    color: var(--color-text);
    height: 180px;
    top: 0px;
    position: relative;
    overflow: hidden;

    .header.sticky {
        top: 0;
        background-color: var(--sticky);
        padding: 5px 10px;
        box-shadow: rgba(193, 88, 235, 0.25) 0px 25px 20px -20px;
    }

    .header {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        z-index: 9999;
        transition: 0.4s;

        &__navigation {
            width: 1200px;
            margin: 0 auto;
            max-width: 100%;
            padding: 10px 20px;
            @include flex-center("between");

            @keyframes place {
                from {
                    width: 0%;
                }

                to {
                    width: 100%;
                }
            }

        }

        &__search {
            width: 400px;
            position: relative;

            button {
                i {
                    color: var(--color-text);
                    position: absolute;
                    top: 25%;
                    left: 15px;
                }

                &:hover i {
                    color: var(--color-text);
                }
            }

            input {
                margin-bottom: 10px;
                padding-left: 50px;
                outline: none;
                border: unset;
                color: var(--color-text);
                width: 100%;
                border: var(--border);
                border-radius: 5px;
                height: 40px;

                &::placeholder {
                    color: gray;
                    width: 0%;
                    white-space: nowrap;
                    animation: place 5s linear infinite;
                    overflow: hidden;
                }
            }

            input:focus {
                border-bottom: none;
            }

            input:focus~.header__search--collections {
                padding: 20px;
                max-height: 400px;
                padding-right: 0;
            }

            &--collections {
                transition: 0.5s;
                transform: translateY(-10px);
                border: var(--border);
                border-top: none;
                overflow: hidden;
                max-height: 0;
                position: absolute;
                background-color: var(--sticky);
                right: 0;
                left: 0;
                color: var(--color-text);
                border-radius: 0 0 5px 5px;
                padding-left: 10px;

                >p {
                    font-size: 1.3rem;
                    color: $gray;
                    padding-bottom: 10px;
                }

            }

            .place {
                position: absolute;
                top: 12px;
                left: 55px;
                color: gray;
                z-index: -1;
                white-space: nowrap;
                animation: place 3s linear infinite;
                overflow: hidden;
                opacity: 1;
            }

            input[value=""]+.place {
                display: block;
            }

            input:valid+.place {
                display: none;
            }
        }

        &__menu li {
            display: inline-block;

            a {
                padding: 5px 10px;
                color: $gray;
                transition: 0.3s;

                &:hover {
                    color: var(--color-text);
                }
            }
        }

        &__user a {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $dark;
            @include flex-center("center");
            color: #fff;

            i {
                transition: 0.3s;
            }

            &:hover i {
                transform: scale(1.3);
            }
        }

        &__btn a {
            display: block;
            width: 166px;
            height: 40px;
            background-color: $dark;
            border-radius: 5px;
            @include flex-center("center");
            color: #fff;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                background-color: #fff;
                color: $dark;
            }
        }

        &__logo {
            font-size: x-large;
            font-weight: bold;
        }

        &__collections {
            max-height: 300px;
            padding: 5px 0;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 3px;
                background-color: #000000;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #c6c6c6;
            }

            li {
                display: flex;
                align-items: center;
                padding: 10px 5px;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 5px;
                gap: 10px;
                transition: 0.2s;

                &:hover {
                    background-color: #4a4a4a5f;
                }
            }
        }

        &__avatar {
            width: 30px;
            height: 30px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        &__name {
            span {
                font-size: 1.5rem;
            }

            &+img {
                width: 15px;
                height: 15px;
            }
        }
    }


    .header__bars--mb {
        display: none;
    }

    .header__close {
        display: none;
        padding: 10px 10px;
    }

    .header__login--mb {
        display: none;
    }

    // mobie
    @include media(987px) {
        .header__navigation {
            top: 0;
            position: fixed;
            left: -100%;
            flex-direction: column;
            justify-content: space-around;
            background-color: var(--sticky);
            z-index: 9;
            height: 100vh;
            visibility: hidden;
            opacity: 0;
            transition: 0.4s;

            .header__close {
                position: absolute;
                right: 10px;
                color: var(--color-text);
                font-size: xx-large;
                top: 10px;
            }

            .header__logo {
                padding: 40px 20px;
                text-align: center;
                font-size: xx-large;
                font-weight: bold;
            }

            .header__login--mb {
                display: block;

                div:last-child {
                    background-color: #ffcc00;
                    border-radius: 20px;
                    backdrop-filter: blur(50px);
                    box-shadow: 2px 3px 50px #ffcc00;

                    a {
                        color: #131528;
                        font-weight: bold;
                        letter-spacing: 3px;
                    }
                }

                >div {
                    margin-top: 15px;

                    a {
                        color: var(--color-text);
                        font-size: 2rem;
                        display: block;
                        padding: 10px 20px;
                        @include flex-center("center");
                        font-weight: bold;
                        letter-spacing: 3px;
                    }
                }
            }

            .nav-btn {
                margin-top: 50px;
                @include flex-center("center");
            }

            .header__search,
            .header__user {
                display: none;
            }

            .header__menu {
                display: block;

                ul {
                    li {
                        width: 100%;
                        padding: 20px 10px;

                        a {
                            width: 100%;
                            font-size: 2rem;
                            display: block;
                            @include flex-center("center");
                        }
                    }
                }
            }
        }

        .container {
            padding: 0 10px;
        }

        .header__navigation.active {
            visibility: inherit;
            opacity: 1;
            width: 100%;
            left: 0;
        }

        .fa-sun,
        .fa-moon {
            font-size: 3.5rem;
        }

        .header__close {
            display: block;
        }

        .header__bars--mb {
            padding: 20px 20px;
            display: flex;
            @include flex-center("between");

            .bars__right--mb {
                display: flex;
                align-items: center;
                gap: 30px;
            }

            .header__logo--mb {
                font-size: xx-large;
                font-weight: bold;
            }

            .bars__search--mb {
                right: 30px;

                .bars__search.active {
                    right: 0;
                    left: 0;
                }

                .bars__search {
                    padding: 20px;
                    position: fixed;
                    top: 0 !important;
                    transition: 0.5s;
                    left: -100%;
                    background-color: var(--sticky);

                    .input-search-mb {
                        position: relative;
                        display: flex;
                        margin-bottom: 30px;

                        >i {
                            padding: 10px 10px;
                            font-size: 1.7rem;
                            color: #cccc;
                            cursor: pointer;
                        }

                        button {
                            position: absolute;
                            top: 10px;
                            left: 40px;
                            padding: 0 5px;
                            z-index: 3;

                            i {
                                font-size: 1.5rem;
                                color: #ccc;
                            }
                        }

                        .place {
                            position: absolute;
                            top: 10px;
                            left: 75px;
                            color: gray;
                            z-index: 1;
                            white-space: nowrap;
                            animation: place 3s linear infinite;
                            overflow: hidden;
                            opacity: 1;
                        }

                        input[value=""]+.place {
                            display: block;
                        }

                        input:valid+.place {
                            display: none;
                        }
                    }

                    input {
                        padding-left: 40px !important;
                        width: 100%;
                        border-radius: 20px;
                        height: 40px;
                        z-index: 2;
                        color: var(--color-text);
                        right: -15px;
                        padding: 0 10px;
                        padding-right: 20px;
                        border: var(--border);
                        outline: none;
                        top: 50px;
                    }

                    .header__search--collections {
                        border-top: 1px solid #cccc;
                        transition: 0.5s;
                        padding-top: 30px;
                        overflow: hidden;
                        right: 0;
                        max-height: 100vh !important;
                        left: 0;
                        color: var(--color-text);
                        border-radius: 0 0 5px 5px;
                        padding-left: 10px;

                        >p {
                            font-size: 1.3rem;
                            color: $gray;
                            padding-bottom: 10px;

                            img {
                                width: 15px;
                                margin-left: 10px;
                            }
                        }

                        ul {
                            max-height: 100vh;
                            padding: 5px 0;
                            height: 100vh;
                            overflow: auto;

                            &::-webkit-scrollbar {
                                width: 3px;
                                background-color: #000000;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: #c6c6c6;
                            }

                            li {
                                display: flex;
                                align-items: center;
                                padding: 10px 5px;
                                margin-right: 10px;
                                border-radius: 5px;
                                gap: 10px;
                                transition: 0.2s;

                                .header__avatar {
                                    width: 30px;
                                    height: 30px;
                                    flex-shrink: 0;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }

                                .header__name {
                                    span {
                                        font-size: 1.5rem;
                                    }

                                    &+img {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }

                                &:hover {
                                    background-color: #4a4a4a5f;
                                }
                            }
                        }
                    }
                }

                .active {
                    display: block;
                }
            }

            i {
                color: var(--color-text);
                font-size: 3rem;
            }
        }
    }
}

// darkmode
.switch {
    font-size: 2rem;
    position: relative;
    margin-top: 5px;
    width: 40px;
    height: 40px;

    i {
        cursor: pointer;
        padding: 10px;
    }

    .fa-sun {
        color: yellow;
    }
}