@import url("https://fonts.googleapis.com/css2?family=Itim&family=Pacifico&family=Paytone+One&family=Poppins:wght@200;300;400;500;600;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
